.button {
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 4px;
  padding: 3px 8px;
  font-weight: bold;
  box-shadow: 2px 2px 2px gray;
  text-transform: capitalize;
}